*{
    margin: 0;
    padding: 0;
}
html, body {
    height: calc(100% - 10px);
}
.flex-item {
    border: green solid 1px;
    background-color: greenyellow;
    margin: 10px 10px;
}
.big {
    flex: 1;
}
.logo {
    margin-right: auto;
}
.side {
    width: 250px;
}
.flex {
    padding: 1px;
    display: flex;
    justify-content: flex-end;
}
body {
    display: flex;
    flex-direction: column;
}
nav, .footer .flex-item {
    height: 100px;
}
nav{
    font-size:2rem;
    background-color:green;
}
nav ul{
    list-style-type:non;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    cursor:pointer;
    padding: 0.5rem;

} 

.container {  
    display: flex;  
  }

.container img{
    position: absolute;
    width: 100px;
    height: auto;

}